.journey-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 60px;

  width: 288px;

  background: #ffffff;
  border-radius: 16px;

  .journey-form__field {
    display: flex;
    flex-direction: column;
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #172432;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
  }

  .journey-form__label {
    width: 88px;
    height: 17px;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #767e86;
    margin-bottom: 12px;
  }

  .journey-form__input {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #172432;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-bottom: 10px;
  }

  .journey-form__input:focus {
    outline: none;
  }
  .journey-form__field:last-of-type {
    padding-bottom: 20px;
  }
  .journey-form__field:first-of-type {
    padding-top: 20px;
  }
}
