.journey-search {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 16px 100px;
  gap: 100px;
  background-image: url("../../images/background.jpg");
  background-size: cover;
  background-position: center;
}
